/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
  border-radius: 4px !important;
}

.portlet .portlet-title {
  border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
  border-radius: 0px 0px 4px 4px !important;
}
*/

/*
Change Quick Sidebar Width
*/

/*
.page-quick-sidebar-wrapper {
  right: -370px;
  width: 370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content .page-sidebar-wrapper {
  margin-left: -370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content .page-footer {
  margin-right: 370px;
  margin-left: -370px;
}

.page-sidebar-reversed.page-quick-sidebar-open.page-quick-sidebar-push-content .page-sidebar-wrapper {
  margin-right: 370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content.page-quick-sidebar-full-height .page-header {
  margin-left: -370px;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-list {
  width: 370px !important;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-item {
  width: 370px !important;
  margin-left: 370px;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-content-item-shown .page-quick-sidebar-list {
  margin-left: -370px;
}
*/
/**my css**/
@media (min-width: 992px){
  .page-sidebar-closed .page-sidebar {
    width: 0px !important;
  }
}
@media (min-width: 992px){
  .page-sidebar-reversed.page-sidebar-closed .page-content-wrapper .page-content {
    margin-left: 0 !important;
    margin-right: 0px !important;
  }
}

.my-btn-bar{
    width: 40px;
}
.sidebar-toggler {
    background: url(sidebar_inline_toggler_icon_darkblue.jpg) no-repeat center center;
    height: 40px;
    line-height: 40px;
    margin-top: 4px;
    margin-left: 10px;
}
@media (max-width: 991px){
    .sidebar-toggler,.my-btn-bar{
        display: none;
    }
}
.checkboxes{
  margin-left: 3px;
  height: 15px;
  width: 19px;
}
.table .odd.selected,.table .even.selected{
    background-color: #44b6ae;
}

.page-sidebar-closed .page-sidebar-wrapper .page-sidebar .page-sidebar-menu  > li > a > .badge-my ,.page-sidebar-wrapper .page-sidebar .page-sidebar-menu  > li > a > .badge-my{
    display: block !important;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #F3565D;
    z-index: 9;
    width: 20px;
    padding-left: 3px;
    overflow: hidden;
}
.row .mytools{
    position: absolute;
    top: -48px;
    right: 115px;
}
.dataTables_filter{
    position: absolute;
    top: -48px;
}
@media (max-width: 991px){
    .dataTables_filter{
        display: inline-block;
        position: relative;
        top: 0;
    }
}
.page-header-inner .tools-toggler{
    display: block !important;
    margin: 11px 14px 0 0 !important;
}
.page-header.navbar .menu-toggler.tools-menu{
    float: left;
}
@media (min-width: 992px){
    #mynavbar-collapse{
        display: none !important;
    }
}
.my-btn-bar{
    width: 40px;
}
.sidebar-toggler {
    background: url(sidebar_inline_toggler_icon_darkblue.jpg) no-repeat center center;
    height: 40px;
    line-height: 40px;
    margin-top: 4px;
    margin-left: 10px;
}
@media (max-width: 991px){
    .sidebar-toggler,.my-btn-bar{
        display: none;
    }
}
.checkboxes{
  margin-left: 3px;
  height: 15px;
  width: 19px;
}
.table .odd.selected,.table .even.selected{
    background-color: #44b6ae;
}

.page-sidebar-closed .page-sidebar-wrapper .page-sidebar .page-sidebar-menu  > li > a > .badge-my ,.page-sidebar-wrapper .page-sidebar .page-sidebar-menu  > li > a > .badge-my{
    display: block !important;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #F3565D;
    z-index: 9;
    width: 20px;
    padding-left: 3px;
    overflow: hidden;
}
/*.row .mytools{
    position: absolute;
    top: -48px;
    right: 115px;
}
*/
.dataTables_filter{
    /*position: absolute;
    top: -48px;*/
    position: absolute;
    top: -64px;
    right: 310px;
}

@media (max-width: 991px){
    .dataTables_filter{
        display: inline-block;
        position: relative;
        top: 0;
        right: 0;
    }
}
.page-header-inner .tools-toggler{
    display: block !important;
    margin: 11px 14px 0 0 !important;
}
.page-header.navbar .menu-toggler.tools-menu{
    float: left;
}
@media (min-width: 992px){
    #mynavbar-collapse{
        display: none !important;
    }
}
.porlet_bg_white{
    background: #fff;
}
.page-container .page-content-wrapper .my_bg_f7f7f7{
    background-color: #f7f7f7;
}
.col-bg{
    background: rgb(227,232,234) !important;
   /* padding-top: 15px;*/
    padding-bottom: 15px;
}
.content-bg{
    background: #fff;
    border-top: 1px solid rgba(83, 95, 109, 0.35);
    border-right: 1px solid rgba(83, 95, 109, 0.35);
    border-left: 1px solid rgba(83, 95, 109, 0.35);
    border-bottom: 0;
    margin: 15px -15px 0 -15px;
   /* border-radius: 10px !important;*/
}
.content-bg.no_margin-bottom{
  margin: 0 -15px 0 -15px;
  border-top: 0;
  border-bottom: 1px solid rgba(83, 95, 109, 0.35);
}
.content-bg .content-caption{
    background: #f7f7f7 !important;
    border-radius: 10px 10px  0 0 !important;
    padding: 0px 0 0 5px;
    font-size: 18px;
    line-height: 18px;
}

.content-bg .caption-title{
      margin-top: -12px;
      margin-left: -20px !important;
      padding-left: 20px !important;
      margin-right: -20px !important;
      padding-right: 20px !important;
      background-color: #f7f7f7 !important;
}
.content-bg .circle-bg{
      border-radius: 10px 10px 0 0 !important;
}
.checkboxes{
    
}

.portlet.no_margin_buttom{
  margin-bottom: 0 !important;
}
.page-content-wrapper .page-content.bg{
    background: rgb(227,232,234) !important;
}

/***public css***/
.bottom-margin{
  margin-bottom: 25px;
}

/*******vector map ***************/
.jvectormap-zoomin{
  box-sizing:content-box;
}
.jvectormap-zoomout{
  box-sizing:content-box;
}

/***not portlet paddding-top margin-buttom***/
.portlet .no_margin_buttom{
  margin-bottom: 0;
}
.portlet .no_padding_top{
  padding-top: 0 !important;
}
.portlet.box > .portlet-title > .caption_title{
  padding: 6px 0 6px 0px;
  padding-left: 15px;
}
/***font color**/
.whiter_color{
  color: #fff !important;
}
.btn-group .font_size{
  font-size: 18px !important;
  line-height: 18px !important;
}
.portlet-title-form{
  padding-top: 1px;
}

/***********bootstrap tables css********/
table.dataTable thead .sorting_desc,table.dataTable thead .sorting,table.dataTable thead .sorting_asc{
  background-color: #ddd;
}
.form-control.height{
  height: 39px;
}
.btn.btn_padding_top{
  padding-top: 1px;
  padding: 9px 14px;
}
.btn.font_size{
  font-size: 16px;
}
.btn.color_bg_white{
  background-color: #F1F3FA;
  color: #3598dc;
}
.padding_top_8{
  padding-top: 8px;
}
.nav-tabs, .nav-pills.margin_bottom{
  margin-bottom: 0;
}
.nav-tabs.border_bottom{
  border-bottom: 0;
}
.portlet.box.blue.border_top{
  border-top: 1px solid #60aee4;
}
.font_color{
  color: #2386ca !important;
}
.font_weight{
  font-weight: 400 !important;
}

@media (min-width: 992px){
  .table-responsive{
    overflow-x:visible; 
  }
  #sample_6_1_filter{
    top: -47px;
    right: 215px;
  }
}
.dataTables_scrollHead{
  background-color: #ddd;
}
/*******filter font*********/
.filter_font{
    font-weight: 600;
    font-size: 16px;
}
.portlet.margin_bottom_8{
  margin-bottom: 8px;
}
.portlet > .portlet-title.border_bottom_0{
  border-bottom: 0;
}

/*********test css***********/
.sample_search_input{
  top: 70px;
  background-color: #ddd !important;
  padding-top: 10px;
  box-shadow: 5px 5px rgba(102, 102, 102, 0.1);
}
.bg_ddd{
   background-color: #F1F3FA !important;  
}

.tiles .tile.double{
    height: auto !important;
    width: 100% !important;
}
.tile-body  h4{
  margin-bottom:10px !important;
}

/***********dashboard-stat**********/
.row.row_not_margin_right{
  margin-right: 0;
}

.dashboard_list{
  margin-bottom: 10px;
  overflow: hidden;
  background-color: #fff !important;
  position: relative;
  /*margin-right: -20px;*/
}
.dashboard_list a{
  display: block;
}
.dashboard_list a:hover{
  text-decoration: none;
}
.dashboard_list .details_position{
  position: static;
  padding-left:15px;
  padding-right: 15px;
}
.dashboard_list .details_position .number{
  text-align: left;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  padding-bottom: 5px;
  min-height: 120px;
  text-transform:none;
  padding-top: 18px;
  color: #5b9bd1 !important;
}
.red-intense .details_position .number{
   color: #e35b5a !important;
}
.blue-madison .details_position .number{
   color: #4884b8 !important;
}
.green-haze .details_position .number{
   color: #3ea7a0 !important;
}
.purple-plum .details_position .number{
   color: #7c699f !important;
}
.green-turquoise .details_position .number{
   color: #29cfae !important;
}
.blue-hoki .details_position .number{
   color: #67809F !important;
}
.blue-steel .details_position .number{
   color: #4B77BE !important;
}


.dashboard_list .details_position .desc{
  text-align: left;
  padding-bottom: 10px;
  font-size: 12px;
}
.addList{
  position: relative;
}
.addList .dashboard_list{
  min-height: 147px;
  min-width: 220px;
  padding: 0;
  background-color: #F1F3FA !important;
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
  transition: background-color .2s ease,border-color .2s ease;
  /*text-indent: -9999px;*/
}


.addList .dashboard_list a{
  position: relative;
  font-size: 26px;
  color: #ddd;
  min-height: 147px;
  min-width: 220px;
  
}
.addList .dashboard_list a i{
  position: absolute;
  right: 44%;
  bottom: 50%;
  font-size: 30px;
  
}
.addList .dashboard_list:hover{
  background-color: #fff !important;
  -moz-transition:all .5s;
  transition:all .5s;
}
@media (min-width: 992px){
  .tabbable-line .nav-title{
      width: 45%;
  }
  .nav-title .title{
    margin-top: auto;
  }
}
@media (max-width: 991px) and (min-width: 768px){
  .tabbable-line .nav-title{
      display: block;
      width: 100%;
  }
}
.tabbable-line > .not_bg{
  background-color: #F1F3FA;
  border-top:1px solid #CBD0D5 !important;
}

.portlet.title{
    padding: 0px 20px 15px 20px;
}
.portlet h3.btn{
  margin-top:10px;
}
.bg_body{
  background-color: #fff !important;
}
.portlet.port_border{
  border: 1px solid #F1F3FA !important;
  padding:5px !important;
}
.row .row_col_pad{
  padding-right: 0px !important;
}
.portlet.margin-rl{
  margin-right: -10px;
  margin-left: -10px;
}
.portlet.margin-r{
  margin-right: -10px;
}
.portlet.margin-l{
  margin-left: -10px;
}
.portlet.margin_border_r{
  margin-right: -15px;
  border: 0px !important;
  border-right: 1px solid #F1F3FA !important;
}
.portlet.margin_border_rl{
  margin-right: -14px;
  margin-left: -14px;
  border: 0px !important;
}
.portlet.margin_border_l{
  margin-left: -15px;
  border: 0px !important;
  border-left: 1px solid  #F1F3FA !important;
}
.portlet.light .portlet-body.not_top_padding{
  padding-top: 0px !important;
}
.portlet .portlet_height{
  height: 208px !important;
}
.portlet .portlet_height218{
  height: 218px !important;
}
.portlet .no_margin_buttom{
  margin-bottom: 0px !important;
}
.portlet.margin_button0{
  margin-bottom: 0px !important;
}
.portlet.margin_button8{
  margin-bottom: 8px !important;
}
.scroll-to-top{
  bottom: 40px !important;
}


.no_padding{
  padding:5px 0 !important;
}


/***ajax loading**/
.loading{
  position: absolute;
  z-index: 9999;
  right: 50%;
  left: 50%;
  top: 3%;
  background:url(../img/loading.gif) no-repeat;
  width: 30px;
  height: 10px;
}
.loading span{

}

/****singel header****/
.header_nav{
  position: fixed;
  top: 0px;
  background-color: #F1F3FA;
  left: 0;
  right: 0;
  padding: 0 20px;
  z-index: 9999;
  overflow: hidden;
  padding-top:25px;
}

.tabbable-line > .nav-tabs > li.active{
  border-bottom: 0px solid #F3565D; 
  position: relative;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover
{
  background-color: #F1F3FA !important;
}
.tabbable-line > .nav-tabs > li.current{
  border-bottom: 4px solid #F3565D; 
  position: relative;
}
.tabbable-line > .nav-tabs > li.current > a{
  border: 0;
  color: #333;
}
.tabbable-line > .nav-tabs > li.active > a{
  border: 0;
  color: #555;
}
.cont_desc{
  margin-left: 5px !important;
}

/**border-left border-right***/
.portlet.margin_border_rl.border_left,.portlet.margin_border_l.border_left,.portlet.margin_border_r.border_left{
  border: 0 !important;
  border-left:1px solid #F1F3FA !important;
}
.portlet.margin_border_rl.border_right,.portlet.margin_border_l.border_right,.portlet.margin_border_r.border_right{
  border: 0 !important;
  border-right: 1px solid #F1F3FA !important;
}
.portlet.port_border{
  border: 0 !important;
}
.tileP{
  margin:0 0 2px;
}

/*.page-bar.myBar{
  background-color:#F1F3FA !important;
}*/
.portlet.box.box_bg{
  background-color: #fff !important;
}
.portlet.box.box_bg > .portlet-title{
  background-color: #fff !important;
}
.portlet.box > .portlet-title.border_bottom{
  border-bottom:1px solid #eee;
}
.portlet.box.box_bg > .portlet-body{
  min-height: 337px  !important;
}
/****nav bar**/
.page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li.current > a{
  background-color: rgb(101,115,132) !important;
}

.portlet.well{
  background-color: #eee !important;
}
.tabbable-full-width{
  overflow: hidden !important;
  border-bottom: 1px solid #ddd;
  margin-bottom:10px;
}
.tabbable-line > .nav-tabs{
  margin-top: 2px !important;
}



/***menu***/
@media (min-width: 992px){
  .center-menu{
    min-width: 1000px;
    margin:0 auto;
  }
  .center-menu > li{
    min-width: 160px;
    text-align: center;
    margin-right: 10px;
  }
}
@media (max-width: 1400px){
  .page-header.navbar .page-logo{
    width: 100px !important;
  }
}
@media (max-width: 1260px){
  .center-menu{
    min-width: 0;
    margin:0;
  }
  .center-menu > li{
    min-width: 0;
  }
}
@media (max-width: 991px){
  .page-header.navbar .page-logo{
    width: auto !important;
  }
}
.margin-right-no{
  margin-right: 0px !important;
}
.page-header.navbar .page-logo .logo-default{
  margin: 10px 0 0;
}

/***content***/
@media (min-width: 992px){
  .page-content-wrapper .page-content{
    padding:25px 10px 10px 10px;
  }
}

/*******active row******/
.row.active >div.currentActive{
  padding-bottom: 85px;
}